[submodule "3d_party/fmt"]
	path = 3d_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tools/SPH2D_Drawer"]
	path = tools/SPH2D_Drawer
	url = https://github.com/RackotRR/SPH2D_Drawer
	branch = cmake
[submodule "tools/SPH2DParamsGenerator"]
	path = tools/SPH2DParamsGenerator
	url = https://github.com/RackotRR/SPH2DParamsGenerator
[submodule "3d_party/tl_expected"]
	path = 3d_party/tl_expected
	url = https://github.com/TartanLlama/expected.git
[submodule "3d_party/tl_optional"]
	path = 3d_party/tl_optional
	url = https://github.com/TartanLlama/optional.git
