CMakeSettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
build/
install/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Visual Studio code directory
.vscode/

/tools/WaterProfile/include/WaterProfileVersion.h
/sources/RRSPH_PARAMS/include/ParamsVersion.h
/sources/RRSPH_COMMON/include/RRSPHCOMMONVersion.h
/sources/RRSPH_PARAMS/include/RRSPHVersion.h
/tools/FuncAtPoint/lib/include/fatpVersion.h
/sources/RRSPH_CL/include/RRSPHCLVersion.h
/sources/RRSPH_OMP/include/RRSPHOMPVersion.h
/sources/RRSPHVersion.h
/tools/SPH2D_PicGen/include/SPH2DPicGenVersion.h
/tools/PartToGridConverter/include/PartToGridConverterVersion.h
/sources/RRSPH_FIO/include/SPH2DFIOVersion.h
/sources/RRSPH_FIO/include/RRSPHFIOVersion.h
